/* src/components/services/ServiceDetail.css */
.service-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

.service-detail-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.service-detail-content p {
  color: var(--text-secondary);
  margin-bottom: 2rem;
}

.features-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.features-list li {
  font-weight: 500;
}

.service-detail-image img {
  width: 100%;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .service-detail-container {
    grid-template-columns: 1fr;
  }
  .features-list {
    grid-template-columns: 1fr; /* Stack the features list */
  }
  .service-detail-image {
    order: -1;
    margin-bottom: 2rem;
  }
}